@using KisiselWebProjesi.Models.Siniflar
@model List<AnaSayfa>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kişisel Web Sitesi</title>
    <link rel="stylesheet" href="~/web-KisiselWebSitesi/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    <div class="center">
        <div class="avatar">
            @foreach (var x in Model)
            {
                <img src="@x.profil">

            }
        </div>
        <div class="content">
            @foreach (var x in Model)
            {
                <h1>@x.isim</h1>
                <h2>@x.unvan</h2>
                <p>@x.aciklama</p>
                <h3>@x.iletisim</h3>
            }
        </div>
        @Html.Action("ikonlar","AnaSayfa")


    </div>

</body>
</html>
